{#
/**
 * @file
 * Theme implementation for the OCHA Publications on ODSG.
 *
 * Overrides core/modules/views/templates/views-view-list.html.twig.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('common_design_subtheme/odsg-publications') }}
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h2>{{ title }}</h2>
  {% endif %}

  <{{ list.type }}{{ list.attributes.addClass(['odsg-publications', 'clearfix']) }}>

    {% for row in rows %}
      <li{{ row.attributes.addClass('odsg-publication') }}>
        {{- row.content -}}
      </li>
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
